.spacer {
  flex: 1 1 auto;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-actions {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  background-color: #e0e0e0;
  color: #333;
}

.badge.admin {
  background-color: #d1c4e9; /* Roxo claro */
  color: #512da8;
}
